@model IEnumerable<se_liga_mogi.Models.presenca_parlamentares>

@{
    ViewBag.Title = "Presenca";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Presencas</h2>

<table class="table">
    <tr>
        <th>
            Data
        </th>
        <th>
            Presente?
        </th>
        <th>
            Motivo da falta: (Caso tenha faltado)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.data_presenca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.falta_ou_nao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.motivo_da_falta)
        </td>
    </tr>
}

</table>
